@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: 14 86% 42%;
  --green: 159 69% 38%;
  --rose-50: 20 50% 98%;
  --rose-100: 13 31% 94%;
  --rose-300: 14 25% 72%;
  --rose-400: 7 20% 60%;
  --rose-500: 12 20% 44%;
  --rose-900: 14 65% 9%;

  --hawaiian-malasada: 14 85% 32%;
}
